
.vs/navalBattleMulti/v17/ipch/AutoPCH/fbba728488767/NAVALBATTLEMULTI.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/c72843601fccef5f/UTILS.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/b55ccc4877a1fe43/FRAMEWORK.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/a2ca94507c97d871/APP.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/9f0c21b388a64264/APP.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/4b6aa6b4ff6cca5e/FRAMEWORK.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/3538f87672c77140/GRID.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/2dc7bf3279b6074b/SCENE.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/277feca041d169d4/NAVALBATTLEMULTI.ipch
.vs/navalBattleMulti/v17/ipch/AutoPCH/2681b54c83e61db2/SCENE.ipch
.vs/navalBattleMulti/v17/Browse.VC.opendb
.vs/navalBattleMulti/v17/Browse.VC.db-wal
.vs/navalBattleMulti/v17/Browse.VC.db-shm
.vs/navalBattleMulti/v17/Browse.VC.db
.vs/navalBattleMulti/v17/.suo
.vs/navalBattleMulti/v16/ipch/AutoPCH/9f0c21b388a64264/APP.ipch
.vs/navalBattleMulti/v16/ipch/AutoPCH/277feca041d169d4/NAVALBATTLEMULTI.ipch
.vs/navalBattleMulti/v16/Browse.VC.db
.vs/navalBattleMulti/v16/.suo
.vs/navalBattleMulti/FileContentIndex/read.lock
.vs/navalBattleMulti/FileContentIndex/f7a761e2-0b9a-47df-a698-c400931d287d.vsidx
.vs/navalBattleMulti/FileContentIndex/a7bd4013-e1d4-48e1-be81-c6a40493d0e1.vsidx
.vs/navalBattleMulti/FileContentIndex/6bc4fcdb-fe1d-4f4a-95fe-6a3e0a252a61.vsidx
.vs/navalBattleMulti/FileContentIndex/3821bada-0243-46c2-ae68-36a346cb49df.vsidx
.vs/navalBattleMulti/FileContentIndex/6e23c741-9b9c-42cc-9c8c-f50d3920f684.vsidx
.vs/navalBattleMulti/FileContentIndex/read.lock
.vs/navalBattleMulti/v16/.suo
.vs/navalBattleMulti/v16/Browse.VC.db
.vs/navalBattleMulti/v16/ipch/AutoPCH/1a9a451078d1b64c/NAVALBATTLEMULTI.ipch
.vs/navalBattleMulti/v17/.suo
.vs/navalBattleMulti/v17/Browse.VC.db
.vs/navalBattleMulti/v17/Browse.VC.db-shm
.vs/navalBattleMulti/v17/Browse.VC.db-wal
.vs/navalBattleMulti/v17/Browse.VC.opendb
.vs/navalBattleMulti/v17/ipch/AutoPCH/1a9a451078d1b64c/NAVALBATTLEMULTI.ipch
.vs/navalBattleMulti/FileContentIndex/00d819fd-f6ee-4138-8e56-43bd4b254b79.vsidx
.vs/navalBattleMulti/FileContentIndex/10ffae81-7cae-4b2b-b79e-95cf4325fe84.vsidx
.vs/navalBattleMulti/FileContentIndex/141cab71-6974-41f4-befe-23273e56b08e.vsidx
.vs/navalBattleMulti/FileContentIndex/2ec216a3-e487-4bd1-ae33-889cfd6650a5.vsidx
.vs/navalBattleMulti/FileContentIndex/5ff69907-080c-4899-aac7-0a36716307ae.vsidx
.vs/navalBattleMulti/FileContentIndex/7519b921-1046-440f-b651-3cbd23e86470.vsidx
.vs/navalBattleMulti/FileContentIndex/7c61c600-c923-44c2-80b1-785965c05111.vsidx
.vs/navalBattleMulti/FileContentIndex/9e828a89-d17c-4ca7-9d6e-22c6361a249c.vsidx
.vs/navalBattleMulti/FileContentIndex/b5e01b3b-1c6b-49c4-aa2a-4291a95880b4.vsidx
.vs/navalBattleMulti/FileContentIndex/d0d02341-fe77-4bb1-98b0-fb7259d2a090.vsidx
.vs/navalBattleMulti/FileContentIndex/dc2ad0cc-563a-48b2-a7c2-f493dccdeda5.vsidx
.vs/navalBattleMulti/FileContentIndex/ef624bb3-49d5-43d5-87da-7c4f3aac2fd3.vsidx
.vs/navalBattleMulti/v17/.suo
.vs/navalBattleMulti/v17/Browse.VC.db
.vs/navalBattleMulti/v17/ipch/AutoPCH/482057666e241889/CLIENT.ipch
.vs/navalBattleMulti/v17/Solution.VC.db-shm
.vs/navalBattleMulti/v17/Solution.VC.db-wal
Debug/navalBattleMulti.exe
Debug/navalBattleMulti.pdb
Debug/serverMULTITHREADING.exe
Debug/serverMULTITHREADING.pdb
navalBattleMulti/Debug/navalBattleMulti.exe.recipe
navalBattleMulti/Debug/navalBattleMulti.ilk
navalBattleMulti/Debug/navalBattleMulti.log
navalBattleMulti/Debug/navalBattleMulti.obj
navalBattleMulti/Debug/navalBattleMulti.tlog/link.read.1.tlog
navalBattleMulti/Debug/navalBattleMulti.tlog/link.write.1.tlog
navalBattleMulti/Debug/vc143.idb
navalBattleMulti/Debug/vc143.pdb
serverMULTITHREADING/Debug/Server.obj
serverMULTITHREADING/Debug/serverMU.30f2fc85.tlog/link.read.1.tlog
serverMULTITHREADING/Debug/serverMULTITHREADING.ilk
serverMULTITHREADING/Debug/vc143.idb
serverMULTITHREADING/Debug/vc143.pdb
x64/Debug/navalBattleMulti.pdb
x64/Debug/navalBattleMulti.exe
navalBattleMulti/x64/Debug/navalBattleMulti.tlog/link.write.1.tlog
navalBattleMulti/x64/Debug/navalBattleMulti.tlog/link.read.1.tlog
navalBattleMulti/x64/Debug/navalBattleMulti.log
navalBattleMulti/x64/Debug/navalBattleMulti.ilk
.vs/navalBattleMulti/FileContentIndex/a6d0f202-4b68-4418-81a9-c4ce6a715e5f.vsidx
.vs/navalBattleMulti/FileContentIndex/60ab1de2-3eb2-40e6-afdc-5b188bd9c68c.vsidx
.vs/navalBattleMulti/FileContentIndex/a6d0f202-4b68-4418-81a9-c4ce6a715e5f.vsidx
navalBattleMulti/x64/Debug/navalBattleMulti.ilk
navalBattleMulti/x64/Debug/navalBattleMulti.log
navalBattleMulti/x64/Debug/navalBattleMulti.tlog/link.read.1.tlog
navalBattleMulti/x64/Debug/navalBattleMulti.tlog/link.write.1.tlog
x64/Debug/navalBattleMulti.exe
x64/Debug/navalBattleMulti.pdb
*.db-shm
*.db
*.log
*.ilk
*.vsidx
*.tlog
.vs/navalBattleMulti/FileContentIndex/00d819fd-f6ee-4138-8e56-43bd4b254b79.vsidx
.vs/navalBattleMulti/FileContentIndex/5ff69907-080c-4899-aac7-0a36716307ae.vsidx
.vs/navalBattleMulti/FileContentIndex/7519b921-1046-440f-b651-3cbd23e86470.vsidx
.vs/navalBattleMulti/FileContentIndex/7c61c600-c923-44c2-80b1-785965c05111.vsidx
.vs/navalBattleMulti/FileContentIndex/9e828a89-d17c-4ca7-9d6e-22c6361a249c.vsidx
.vs/navalBattleMulti/FileContentIndex/a6d0f202-4b68-4418-81a9-c4ce6a715e5f.vsidx
.vs/navalBattleMulti/FileContentIndex/b5e01b3b-1c6b-49c4-aa2a-4291a95880b4.vsidx
.vs/navalBattleMulti/FileContentIndex/dc2ad0cc-563a-48b2-a7c2-f493dccdeda5.vsidx
.vs/navalBattleMulti/FileContentIndex/ef624bb3-49d5-43d5-87da-7c4f3aac2fd3.vsidx
.vs/navalBattleMulti/v17/.suo
.vs/navalBattleMulti/v17/Browse.VC.db
.vs/navalBattleMulti/v17/Solution.VC.db
.vs/navalBattleMulti/v17/Solution.VC.db-shm
*.vsidx
navalBattleMulti/navalBattleMulti.vcxproj
