
.vs/navalBattleMulti/FileContentIndex/6e23c741-9b9c-42cc-9c8c-f50d3920f684.vsidx
.vs/navalBattleMulti/FileContentIndex/read.lock
.vs/navalBattleMulti/v16/.suo
.vs/navalBattleMulti/v16/Browse.VC.db
.vs/navalBattleMulti/v16/ipch/AutoPCH/1a9a451078d1b64c/NAVALBATTLEMULTI.ipch
.vs/navalBattleMulti/v17/.suo
.vs/navalBattleMulti/v17/Browse.VC.db
.vs/navalBattleMulti/v17/Browse.VC.db-shm
.vs/navalBattleMulti/v17/Browse.VC.db-wal
.vs/navalBattleMulti/v17/Browse.VC.opendb
.vs/navalBattleMulti/v17/ipch/AutoPCH/1a9a451078d1b64c/NAVALBATTLEMULTI.ipch
